$white-card: rgba(255, 255, 255, 1);
$default-white: #fff;
$light-gray: #e3e5e5;
$default-black: #090a0a;
$default-gray: #72777a;
$light-violet: #6b4eff;
$default-violet: #5538ee;
$default-red: #ff5247;
$invalid-color: $default-red;
