html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 360px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0 0 0 0;
}
